<%- include("partials/header") %>
<div class="jumbotron centered">
    <div class="container">
    <h1 class="display-1">Artifical Intelligence</h1>
    <i class="fas fa-door-open fa-5x"></i>
    <p class="lead"> WELCOME</p>
    <hr class="my-4">
    <a class="btn btn-dark" href="/login" role="button">Login</a>
    <a class="btn btn-success" href="/register" role="button">Register</a>
</div>    
</div>
<%- include("partials/footer") %>