<%- include("partials/header") %>

<div class="jumbotron text-center">
        <div class="container S">
         <% userwithcontent.forEach(function(user){ %>
            <p><%= user.content %></p>
        <%  }) %>
          <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
          <a class="btn btn-light btn-lg" href="/submit" role="button">Submit your article</a>
        </div>
      </div>

<%- include("partials/footer") %>