<%- include("partials/header") %>
<div class="container centered">
<div class="row">
      <div class="col-md-6">
         <div class="card text-white text-center bg-dark">
            <div class="card-header"><h2>Login here</h2></div>
              <div class="card-body">
                  <form action="/login" method="post">
                     <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="username" class="form-control" placeholder="Username"> 
                     </div>
                     <div class="form-group">
                        <label for="password">password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                     </div>
                        <button class="btn btn-light hi" type="submit">Login</button>
                  </form>
               </div>
            </div>  
         </div>   
      <div class="col-lg-6">
         <div class="card social-block">
            <div class="card-body">
               <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                  <i class="fab fa-google"></i>
                   Sign in With Google
               </a>  
            </div>  
         </div> 
      </div>    
   </div> 
</div>
</div>


<%- include("partials/footer") %>